.page {
  // position: absolute;
  // top: 50%;  /* position the top  edge of the element at the middle of the parent */
  // left: 50%; /* position the left edge of the element at the middle of the parent */

  //  /* This is a shorthand of
  // translateX(-50%) and translateY(-50%) */
  // transform: translate(-50%, -50%);

  box-sizing: border-box;
  text-align: center;

  padding: 7vh 5vw 2vh 5vw;
  // border-radius: 50px 10px 50px 10px;

  // background: rgb(144,210,245);
  // background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(244,37,37,1) 50%, rgba(252,176,69,1) 100%);

  min-width: 50vw;
  min-height: 50vh;
  // max-width: 90%;


  overflow-x: hidden;
  border: 1px solid black;

}

.custom-page {
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

   /* This is a shorthand of
  translateX(-50%) and translateY(-50%) */
  transform: translate(-50%, -50%);

  text-align: center;

  padding: 50px 10px;
  border-radius: 50px 10px 50px 10px;

  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(244,37,37,1) 50%, rgba(252,176,69,1) 100%);

  width: 50%;
}