body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: url('../public/img/bg_2.svg') scroll no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; */
  background-color:aqua;

}

/* @media only screen and (max-width: 767px) {   body {  background-image: url('../public//img/BURGER.svg');   } } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}