.userBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;

  
  @media only screen and (max-width: 767px) {   
    & {  
      box-sizing: border-box;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
   } 
  }
}